# CSIT327 Supabase PostgreSQL Connection String
# Replace [PROJECT-REF], [YOUR_PASSWORD], and [POOLER-HOST] with your values from Supabase Connect -> Session Pooler.
DATABASE_URL=postgresql://postgres.[PROJECT-REF]:[YOUR_PASSWORD]@[POOLER-HOST]:5432/postgres
SECRET_KEY=django-insecure-t(hl^wg)kg5^f^97gn^qw&op8-3ih$$h6@&k14q7fo@_b4knr$
DEBUG=True
